[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fava = "*"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
app = "fava -H 0.0.0.0 main.bean"
help = "fava --help"